@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 375px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 15px;
}

@media (max-width: 768px) {
  [class*=__container] {
    padding: 0 16px;
  }
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.content-wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.content-wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.content-wrapper > * {
  min-width: 0;
}

/*
  about header
*/

[class*=-container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.select {
  position: relative;
}

.select .select-asset {
  margin-right: 0.625rem;
}

.select-body {
  position: relative;
}

.select-title {
  color: inherit;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.select-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  gap: 0.625rem;
}

.select-value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select-value:after {
  content: "";
  background: url("../img/icons/arrowDawn.svg") 0 0 no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.75rem;
          flex: 0 0 0.75rem;
  height: 0.625rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select-value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select-value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select-input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select-options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  padding: 10px 0px 5px 0px;
}

.select-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select-option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select-option._select-selected {
  background-color: #eee;
}

.select-row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers-title {
  width: 100%;
  cursor: default;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  padding: 0.625rem 1.25rem;
  position: relative;
}

.spollers-title._spoller-active {
  border-bottom: none;
}

._spoller-init .spollers-title {
  cursor: pointer;
}

._spoller-init .spollers-title::before,
._spoller-init .spollers-title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #5f5f5f;
  height: 2px;
  width: 10px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers-title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers-title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers-title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers-title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers-body {
  padding: 1.25rem;
  border-bottom: 1px solid #e0e0e0;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.125rem , 0.9605263158rem  +  0.701754386vw , 1.5rem )) {
  .title {
    font-size: clamp( 1.125rem , 0.9605263158rem  +  0.701754386vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.9605263158rem  +  0.701754386vw , 1.5rem )) {
  .title {
    font-size: calc(1.125rem + 0.375 * (100vw - 23.4375rem) / 53.4375);
  }
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.375rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #f7d300;
  border-radius: 0.5rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.title-red {
  background: #f30000;
  border-radius: 0.9375rem;
  text-align: center;
  padding: 0.6875rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  color: #fff;
}

@supports (padding-top: clamp( 0.9375rem , 0.5263157895rem  +  1.7543859649vw , 1.875rem )) {
  .header {
    padding-top: clamp( 0.9375rem , 0.5263157895rem  +  1.7543859649vw , 1.875rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.5263157895rem  +  1.7543859649vw , 1.875rem )) {
  .header {
    padding-top: calc(0.9375rem + 0.9375 * (100vw - 23.4375rem) / 53.4375);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.5263157895rem  +  1.7543859649vw , 1.875rem )) {
  .header {
    padding-bottom: clamp( 0.9375rem , 0.5263157895rem  +  1.7543859649vw , 1.875rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.5263157895rem  +  1.7543859649vw , 1.875rem )) {
  .header {
    padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 23.4375rem) / 53.4375);
  }
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.9375rem;
}

@supports (width: clamp( 11.375rem , 8.7160087719rem  +  11.3450292398vw , 17.4375rem )) {
  .top-header-logo {
    width: clamp( 11.375rem , 8.7160087719rem  +  11.3450292398vw , 17.4375rem );
  }
}

@supports not (width: clamp( 11.375rem , 8.7160087719rem  +  11.3450292398vw , 17.4375rem )) {
  .top-header-logo {
    width: calc(11.375rem + 6.0625 * (100vw - 23.4375rem) / 53.4375);
  }
}

.top-header-logo img {
  width: 100%;
}

.top-header-welcome {
  line-height: 1.2;
}

.top-header-welcome span {
  font-weight: 700;
}

.top-header-logout {
  margin-bottom: 0.0625rem;
}

.top-header-logout a {
  color: #0061a3;
}

.social-header-main {
  margin-bottom: 0.625rem;
}

.social-header-main a:not(:last-child) {
  margin-right: 0.625rem;
}

.menu-item:nth-child(1) {
  text-decoration: underline;
}

.menu-link {
  display: block;
  padding: 0.4375rem 0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

@supports (padding-left: clamp( 0.3125rem , -0.235745614rem  +  2.3391812865vw , 1.5625rem )) {
  .menu-link {
    padding-left: clamp( 0.3125rem , -0.235745614rem  +  2.3391812865vw , 1.5625rem );
  }
}

@supports not (padding-left: clamp( 0.3125rem , -0.235745614rem  +  2.3391812865vw , 1.5625rem )) {
  .menu-link {
    padding-left: calc(0.3125rem + 1.25 * (100vw - 23.4375rem) / 53.4375);
  }
}

@supports (padding-right: clamp( 0.3125rem , -0.235745614rem  +  2.3391812865vw , 1.5625rem )) {
  .menu-link {
    padding-right: clamp( 0.3125rem , -0.235745614rem  +  2.3391812865vw , 1.5625rem );
  }
}

@supports not (padding-right: clamp( 0.3125rem , -0.235745614rem  +  2.3391812865vw , 1.5625rem )) {
  .menu-link {
    padding-right: calc(0.3125rem + 1.25 * (100vw - 23.4375rem) / 53.4375);
  }
}

.icon-menu {
  display: none;
}


  









@supports (margin-bottom: clamp( 0.9375rem , 0.5263157895rem  +  1.7543859649vw , 1.875rem )) {
  .banner {
    margin-bottom: clamp( 0.9375rem , 0.5263157895rem  +  1.7543859649vw , 1.875rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5263157895rem  +  1.7543859649vw , 1.875rem )) {
  .banner {
    margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 23.4375rem) / 53.4375);
  }
}

.banner img {
  width: 100%;
}

@supports (margin-bottom: clamp( 2rem , 0.8212719298rem  +  5.0292397661vw , 4.6875rem )) {
  .instruction {
    margin-bottom: clamp( 2rem , 0.8212719298rem  +  5.0292397661vw , 4.6875rem );
  }
}

@supports not (margin-bottom: clamp( 2rem , 0.8212719298rem  +  5.0292397661vw , 4.6875rem )) {
  .instruction {
    margin-bottom: calc(2rem + 2.6875 * (100vw - 23.4375rem) / 53.4375);
  }
}

.instruction-item {
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  padding: 0.3125rem 0.9375rem 0.3125rem 0.3125rem;
}

.item-instruction-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-instruction-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.3125rem;
}

.item-instruction-title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
  margin-right: 0.3125rem;
}

.item-instruction-link {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5;
  text-decoration: underline !important;
  color: #0061a3;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.item-instruction-text {
  line-height: 1.2;
  color: #5f5f5f;
}

@supports (margin-bottom: clamp( 2rem , 0.8212719298rem  +  5.0292397661vw , 4.6875rem )) {
  .upcoming {
    margin-bottom: clamp( 2rem , 0.8212719298rem  +  5.0292397661vw , 4.6875rem );
  }
}

@supports not (margin-bottom: clamp( 2rem , 0.8212719298rem  +  5.0292397661vw , 4.6875rem )) {
  .upcoming {
    margin-bottom: calc(2rem + 2.6875 * (100vw - 23.4375rem) / 53.4375);
  }
}

.upcoming-title {
  padding-left: 0.625rem;
}

@supports (margin-bottom: clamp( 1.125rem , 0.7960526316rem  +  1.4035087719vw , 1.875rem )) {
  .upcoming-title {
    margin-bottom: clamp( 1.125rem , 0.7960526316rem  +  1.4035087719vw , 1.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.125rem , 0.7960526316rem  +  1.4035087719vw , 1.875rem )) {
  .upcoming-title {
    margin-bottom: calc(1.125rem + 0.75 * (100vw - 23.4375rem) / 53.4375);
  }
}

.upcoming-items {
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  padding: 0 0.9375rem;
}

.upcoming-item {
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  overflow: hidden;
}

.item-upcoming-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.4375rem;
  padding: 0.3125rem;
}

.item-upcoming-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-upcoming-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
  margin-bottom: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
}

.item-upcoming-price {
  font-weight: 700;
  font-size: 1.625rem;
  color: #13902a;
}

.item-upcoming-bottom {
  padding: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0061a3;
}

.item-upcoming-btn {
  margin-right: 2.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.item-upcoming-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  font-size: 1.125rem;
  color: #fff;
}

@supports (padding-bottom: clamp( 2rem , 0.8212719298rem  +  5.0292397661vw , 4.6875rem )) {
  .lotte {
    padding-bottom: clamp( 2rem , 0.8212719298rem  +  5.0292397661vw , 4.6875rem );
  }
}

@supports not (padding-bottom: clamp( 2rem , 0.8212719298rem  +  5.0292397661vw , 4.6875rem )) {
  .lotte {
    padding-bottom: calc(2rem + 2.6875 * (100vw - 23.4375rem) / 53.4375);
  }
}

.lotte-title {
  margin: 0 0.9375rem 0.9375rem;
}

.lotte-items {
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  max-width: 68.75rem;
  margin: 0 auto 0.9375rem;
}

.lotte-item {
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  padding: 0.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.lotte-link {
  text-align: right;
}

.lotte-link a {
  margin-right: 2.1875rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  color: #0061a3;
  text-decoration: underline;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.item-lotte-star {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
}

.item-lotte-img {
  margin-bottom: 1.75rem;
}

.item-lotte-title {
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.1875rem;
  margin-bottom: 0.5rem;
}

.item-lotte-price {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.item-lotte-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0061a3;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.125;
  margin-bottom: 0.75rem;
}

.item-lotte-btn {
  width: 100%;
}

@supports (margin-bottom: clamp( 2rem , 0.8212719298rem  +  5.0292397661vw , 4.6875rem )) {
  .winner {
    margin-bottom: clamp( 2rem , 0.8212719298rem  +  5.0292397661vw , 4.6875rem );
  }
}

@supports not (margin-bottom: clamp( 2rem , 0.8212719298rem  +  5.0292397661vw , 4.6875rem )) {
  .winner {
    margin-bottom: calc(2rem + 2.6875 * (100vw - 23.4375rem) / 53.4375);
  }
}

.winner-container {
  max-width: 73.125rem;
}

.winner-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.winner-biggest {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.2%;
          flex: 0 0 66.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.winner-latest {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.biggest-winner-title {
  margin-bottom: 0.9375rem;
}

.biggest-winner-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  padding: 1.25rem;
}

.biggest-winner-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
  font-weight: 500;
  line-height: 1.2857142857;
  text-transform: uppercase;
  margin-bottom: 1.5625rem;
}

@supports (font-size: clamp( 1.6875rem , 1.6600877193rem  +  0.1169590643vw , 1.75rem )) {
  .biggest-winner-subtitle {
    font-size: clamp( 1.6875rem , 1.6600877193rem  +  0.1169590643vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 1.6875rem , 1.6600877193rem  +  0.1169590643vw , 1.75rem )) {
  .biggest-winner-subtitle {
    font-size: calc(1.6875rem + 0.0625 * (100vw - 23.4375rem) / 53.4375);
  }
}

.biggest-winner-won {
  font-weight: 700;
  color: #0061a3;
  margin-left: 0.625rem;
}

@supports (font-size: clamp( 1.6875rem , 1.4407894737rem  +  1.0526315789vw , 2.25rem )) {
  .biggest-winner-won {
    font-size: clamp( 1.6875rem , 1.4407894737rem  +  1.0526315789vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.6875rem , 1.4407894737rem  +  1.0526315789vw , 2.25rem )) {
  .biggest-winner-won {
    font-size: calc(1.6875rem + 0.5625 * (100vw - 23.4375rem) / 53.4375);
  }
}

.biggest-winner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.result-winner img {
  width: 100%;
}

.result-winner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
  margin-top: 1.25rem;
}

.result-winner-title {
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
}

.result-winner-body {
  text-align: center;
}

.result-winner-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result-winner-numbers span {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #f30000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 0.75rem;
  color: #fff;
  margin-bottom: 0.3125rem;
}

.result-winner-date {
  font-size: 0.75rem;
  line-height: 1.3;
}

.content-winner {
  max-width: 14.5625rem;
}

.content-winner-title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.9375rem;
}

.content-winner-text {
  line-height: 1.5;
  margin-bottom: 2rem;
}

.content-winner-link {
  text-align: center;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 2.1875rem;
}

.content-winner-link a {
  color: #0061a3;
  text-decoration: underline;
}

.latest-winner-title {
  margin-bottom: 0.9375rem;
}

.latest-winner-total {
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  padding: 0.625rem;
  text-align: center;
  margin-bottom: 1.875rem;
}

.latest-winner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  padding: 0.625rem 0.9375rem;
  line-height: 1.5;
}

.latest-winner-item:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.total-winners-title {
  font-size: 1.125rem;
  line-height: 1.2;
  margin-bottom: 0.3125rem;
}

.total-winners-prize {
  font-weight: 800;
  font-size: 1.625rem;
  color: #13902a;
  margin-bottom: 5px;
}

.total-winners-text {
  font-size: 1.125rem;
  line-height: 1.2;
}

.total-winners-text span {
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 1.2;
}

.item-latest-name {
  font-weight: 500;
}

.item-latest-name img {
  margin-right: 0.3125rem;
}

.item-latest-draw {
  color: #5f5f5f;
}

@supports (margin-bottom: clamp( 2rem , 0.8212719298rem  +  5.0292397661vw , 4.6875rem )) {
  .faq {
    margin-bottom: clamp( 2rem , 0.8212719298rem  +  5.0292397661vw , 4.6875rem );
  }
}

@supports not (margin-bottom: clamp( 2rem , 0.8212719298rem  +  5.0292397661vw , 4.6875rem )) {
  .faq {
    margin-bottom: calc(2rem + 2.6875 * (100vw - 23.4375rem) / 53.4375);
  }
}

.faq-container {
  max-width: 73.125rem;
}

@supports (margin-bottom: clamp( 0.625rem , 0.076754386rem  +  2.3391812865vw , 1.875rem )) {
  .faq-title {
    margin-bottom: clamp( 0.625rem , 0.076754386rem  +  2.3391812865vw , 1.875rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.076754386rem  +  2.3391812865vw , 1.875rem )) {
  .faq-title {
    margin-bottom: calc(0.625rem + 1.25 * (100vw - 23.4375rem) / 53.4375);
  }
}

.faq-spollers {
  max-width: 48.5rem;
}


.spollers-title {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  color: #0061a3;
}

@media (min-width: 47.99875em) {
  .header-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #f30000;
    border-radius: 0.5rem;
  }

  .header-accaunt img {
    display: none;
  }

  .header-accaunt a {
    background-color: #0061a3;
    border-radius: 0.5rem;
    padding: 0.4375rem 2.375rem;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    -webkit-transition: background-color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s;
  }

  .top-header-logo {
    margin-right: 1.8125rem;
  }

  .top-header-welcome {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu-item {
    position: relative;
  }

  .menu-item::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
    width: 0.0625rem;
    height: 70%;
    background-color: #ffffff;
  }

  .instruction-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.9375rem;
  }
}

@media (min-width: 47.99875em) and (any-hover: hover) {
  .header-accaunt a:hover {
    background-color: #0b5383;
  }
}

@media (min-width: 61.99875em) {
  .instruction-items {
    padding: 0 0.9375rem;
  }

  .instruction-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.3333% - 10px);
            flex: 0 0 calc(33.3333% - 10px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.3125rem;
  }
}

@media (max-width: 70em) {
  .lotte-link a {
    margin-right: 0;
  }
}

@media (max-width: 76.875em) {
  .lotte-title {
    margin: 0 0 0.9375rem;
  }
}

@media (max-width: 66.25em) {
  .item-upcoming-img img {
    width: 7.9375rem;
  }

  .item-upcoming-price {
    font-size: 1.5rem;
  }
}

@media (max-width: 61.99875em) {
  .upcoming-items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }

  .lotte-items {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .lotte-item:nth-child(9),
  .lotte-item:nth-child(10) {
    display: none;
  }

  .winner-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }

  .content-winner {
    max-width: 50%;
  }

  .content-winner-btn {
    max-width: 14.5rem;
    margin: 0 auto;
  }

  .latest-winner-total {
    margin-bottom: 0.9375rem;
  }

  .latest-winner-item:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 47.99875em) {
  .select-value {
    padding: 0 0.9375rem;
  }

  .header-top {
    margin-bottom: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0.625rem;
  }

  .header-accaunt span {
    display: none;
  }

  .top-header-social {
    text-align: center;
  }

  .social-header-main {
    margin-bottom: 1.5625rem;
  }

  .social-header-language {
    max-width: 9.375rem;
    margin: 0 auto;
  }

  .menu-body {
    background: #f30000;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding: 5rem 1.25rem;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu-body {
    left: 0;
  }

  .menu-item {
    margin-bottom: 1.25rem;
  }

  .menu-link {
    padding: 0;
    font-size: 1.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.25rem;
    height: 0.875rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #f30000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: #fff;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0.9375rem;
  }

  .instruction-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.3125rem;
  }

  .instruction-item:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .item-instruction-img img {
    width: 5.0625rem;
  }

  .upcoming-items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .lotte-items {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .lotte-item:nth-child(7),
  .lotte-item:nth-child(8) {
    display: none;
  }

  .biggest-winner-subtitle img {
    width: 2.5rem;
  }

  .biggest-winner-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .result-winner img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .content-winner {
    max-width: 100%;
  }
}



@media (max-width: 37.5em) {
  .top-header-welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.9375rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0.3125rem;
  }
}

@media (max-width: 34.375em) {
  .lotte-items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (any-hover: hover) {
  .select-option:hover {
    background: #d9d9d9;
  }

  .btn:hover {
    background-color: #c5a805;
  }

  .top-header-logout a:hover {
    text-decoration: underline;
  }

  .menu-link:hover {
    text-decoration: underline;
  }


  .item-instruction-link:hover {
    color: #0b4870;
  }

  .lotte-link a:hover {
    color: #0b4870;
  }

  .content-winner-link a:hover {
    color: #0b4870;
  }
}

/*-----------footer-----------*/

.footer {
  margin-top: 75px;
  background-image: url("../img/star-flow.png");
  background-position: top;
  background-repeat: no-repeat;
  opacity: 0.86;
}
@media (max-width: 1440px) {
  .footer {
    margin-top: 50px;
  }
  .faq{
    display: block;
  }

  .footer-container {
    padding-top: 82px;
  }

}
@media (max-width: 768.98px) {

  .faq{
    display: none;
  }

  .footer {
    margin-top: 32px;
  }

}
@media (max-width: 600px) {

  .footer {
    background-size: contain;
    background-image: url("../img/star-flow.png");
  }
}
.footer__container {
  background: linear-gradient(0deg, rgba(224, 224, 224, 0.47) 0%, rgba(225, 225, 225, 0.16) 20.75%, rgba(255, 254, 254, 0.26) 84.14%, #ffffff 126.52%);
  padding: 135px 123.27px 6px 110.27px;
}
@media (max-width: 1024px) {
  .footer__container {
    padding: 82px 70px 55.63px 70px;
  }
}
@media (max-width: 768.98px) {
  .footer__container {
    padding: 82px 14px 6px 14px;
  }
}
@media (min-width: 768.98px) {
  .footer__top {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}
.footer__chat {
  display: flex;
  align-items: center;
  gap: 13px;
}

.footer__chat img {
  width: 37px;
  height:37px;
}

.footer__chat-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 1px;
  color: #000000;
}
.footer__chat-subtitle {
  font-size: 12px;
  font-weight: 500;
  color: #5f5f5f;
  line-height: 175%;
}
@media (max-width: 768.98px) {
  .footer__chat-subtitle {
    line-height: 120%;
  }
}
.footer__body {
  margin-top: 36.37px;
}
@media (max-width: 768.98px) {
  .footer__body {
    margin-top: 16px;
  }
}

.social-footer {
  display: flex;
  gap: 10px;
  padding: 2px 23px 0 0;
}
@media (max-width: 768.98px) {
  .social-footer {
    margin-top: 15px;
  }
}
.body-footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 768.98px) {
  .body-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .body-footer__l {
    grid-column: span 2/auto;
  }
  .body-footer__payment {
    grid-column: span 0.5/auto;
  }
}
.item-footer__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 131%;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 15px;
}
@media (max-width: 768.98px) {
  .item-footer__title {
    margin-bottom: 12px;
  }
}
@media (max-width: 340px) {
  .item-footer__title {
    font-size: 14px;
  }
}
@media (min-width: 768.98px) {
  .item-footer__body {
    max-width: 249px;
  }
}
.item-footer__text {
  font-size: 11.9px;
  color: #000000;
  font-weight: 500;
  line-height: 120%;
}
.item-footer__address {
  font-size: 14.3px;
  font-weight: 500;
  line-height: 162%;
  color: #000000;
}
.item-footer__payment {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 21px;
  gap: 4px;
  max-width: 153px;
}
.item-footer__payment-img {
  width: 44px;
  height: 26px;
}
.item-footer__body-security {
  display: flex;
  align-items: center;
  gap: 3px;
}
@media (min-width: 768.98px) {
  .item-footer__security {
    margin-top: 36px;
  }
}

@media (max-width: 768.98px) {
  .menu-footer__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
}
.menu-footer__item:not(:last-child) {
  margin-bottom: 5px;
}
.menu-footer__item--mobile {
  display: none;
}
@media (max-width: 768.98px) {
  .menu-footer__item--mobile {
    display: block;
  }
}
.menu-footer__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 131%;
  color: #000000;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 425px) {
  .menu-footer__link {
    font-size: 14px;
  }
}

.menu-footer__link--bold {
  font-weight: 700;
}

/*------------------*/
